<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.java.music.ISongDao">

    <insert id="add" parameterType="model.po.music.SongInfoPO">
        INSERT INTO t_song (id, name, songId, artistId, lyricId, mp3Url, origin, num, createTime, modifyTime)VALUES
         (#{id}, #{name}, #{songId}, #{artistId}, #{lyricId}, #{mp3Url}, #{origin}, #{num}, NOW(), NOW())
    </insert>

    <insert id="update" parameterType="model.po.music.SongInfoPO">
        UPDATE t_song SET mp3Url = #{mp3Url}, modifyTime = NOW() WHERE songId = #{songId}
    </insert>

    <select id="getBySongId" parameterType="java.lang.String" resultType="model.po.music.SongInfoPO">
        SELECT id, name, songId, artistId, lyricId, mp3Url, origin, createTime, modifyTime
         FROM t_song WHERE songId = #{songId}
    </select>

    <select id="listSongByName" parameterType="java.lang.String" resultType="model.po.music.SongInfoPO">
        SELECT id, name, songId, artistId, lyricId, mp3Url, origin, createTime, modifyTime
         FROM t_song WHERE name LIKE CONCAT("%", #{name}, "%") ORDER BY num ASC
    </select>

    <select id="countSongByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1)
         FROM t_song WHERE name LIKE CONCAT("%", #{name}, "%")
    </select>

    <select id="listTopList" parameterType="List" resultType="model.po.music.SongInfoPO">
        SELECT s.id, s.name, s.songId, s.artistId, s.lyricId, s.mp3Url, s.origin, s.createTime, s.modifyTime
        FROM t_toplist_details td INNER JOIN t_song s ON td.songId = s.songId
        WHERE td.topListId IN
        <foreach collection="ids" item="item" index="index" separator=",">
            (#{item,jdbcType=VARCHAR})
        </foreach>
    </select>

</mapper>