<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.java.knowledge.iKnowledgeDao">

    <select id="countArticle" resultType="java.lang.Integer">
        SELECT count(1) FROM t_article
        <where>
            <if test="title != null">
                title = #{title}
            </if>
        </where>
    </select>

    <select id="listArticleByPage" resultType="model.po.knowledge.ArticlePO">
        SELECT * FROM t_article
        <where>
            <if test="title != null">
                title = #{title}
            </if>
        </where>
        ORDER BY createTime DESC limit #{startRow}, #{endRow}
    </select>



</mapper>